.mixd_title {
  font-family: Montserrat;
  font-weight: 500;
  color: white;
  font-size: 18px;
  /* text-align: center; */
  position: relative;
  margin-top: 7rem;
  margin-left: 20px;
  background-color: #213239 !important;
}

.mixd_overview {
  width: 320px;
  margin: auto;
  z-index: -1;
  padding-top: 5%;
  /* position: absolute; */
  background-color: #213239 !important;
}

.mixd_overview_text {
  position: relative;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  /* font-style: italic; */
  text-align: center;
  color: white;
  margin-top: -180px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  background-color: transparent;
}

.mixd_overview_description {
  position: relative;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 23px;
  text-align: justify;
  color: white;
  z-index: 1;
  background-color: transparent;
  padding-left: 26px;
}

.prof_scroll {
  overflow-y: scroll;
  white-space: nowrap;
}

.profile-page {
  --ion-background-color: #213239 !important;
}

.profile-page h1 {
  padding: 1rem;
  font-size: 3rem;
}
